<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>www</title>

    <link rel="icon" href="favicon.ico" type="favicon.ico">
    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    

    <link rel="stylesheet" href="styles/main.css">
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <header>

      <div class="wrapper top">
        <a href="#" class="logo">
          <img src="images/icons/logo.png">
          <h1>Носки по подписке Владивосток</h1>
        </a>

        <div class="contacts">
          <a href="tel:89024845226" class="phone">
            <img src="images/icons/phone.png" alt="phone-icon">
            <span>8 (902) 484 52 26</span>
          </a>
          <a href="mailto:grusomme.h@mail.ru"  class="mail">
            <img src="images/icons/mail.png" alt="mail-icon">
            <span>grusomme.h@mail.ru</span>
          </a>
        </div>


        <a href="#" class="login">
          <img src="images/icons/login.png">
          <span>Личный кабинет</span>
        </a>
      </div>
      

      <nav class="wrapper">
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul>
          <li><a href="#">Подписаться</a></li>
          <li><a href="#">Каталог товаров</a></li>
          <li><a href="#">Как это работает </a></li>
          <li><a href="#">Доставка и оплата </a></li>
          <li><a href="#">Вопрос/Ответ</a></li>
          <li class="gift"><a href="#">
            <img src="images/icons/gift.png" alt="">
            <span>Подарочная подписка</span>
          </a></li>
        </ul>
      </nav>
    </header>

    <div class="about_us wrapper">
      <div class="title_top">О НАС</div>
      <p>
        Мы очень часто не обращаем внимание на то, что наши носки давно износились и требуют замены, из-за чего иногда попадаем в неловкие ситуации, когда нам нужно снять обувь. С подпиской на Sockster у вас дома всегда будут качественные новые носки, а, значит, и опрятный вид ваших ног. К тому же, вам не понадобится тратить время на покупку носков.
      </p>
      <p>
        Вы скажете, что можно сразу купить 10 пар. Да, но со временем все они износятся и придется снова идти в магазин (и, скорее всего, мы будем откладывать это событие на потом). А еще не забывайте, что носки не только изнашиваются, но и пропадают без вести в недрах вашей собственной спальни, в стиральной машине или даже в гостях. Знакомо? Забудьте, обо всем позаботится Соксус.
      </p>
    </div>
    
    <div class="service">
      <div class="wrapper">
        <h2 class="title_top">СОКСУС - это сервис, который заботится о вас КАЖДЫЙ МЕСЯЦ</h2>
        <p>
          Здесь вы можете оформить подписку на носки для себя или в подарок другу. В начале каждого месяца мы доставляем один конверт с тремя парами новых носков. Подписка возможна на мужские и женские модели. Для начала попробуйте тестовую подписку всего за 590 рублей
        </p>
        <div class="wrap">
          <div class="item">
            <img src="images/bg/service-item-1.jpg">
            <div class="bottom">1 конверт</div>
          </div>
          <div class="item">
            <img src="images/bg/service-item-2.jpg">
            <div class="bottom">3 пары</div>
          </div>
          <div class="item">
            <img src="images/bg/service-item-3.jpg">
            <div class="bottom">Каждый месяц!</div>
          </div>
          <div class="item">
            <img src="images/bg/service-item-4.jpg">
            <div class="content">
              <div class="row">3 пары</div>
              <div class="row">в месяц всего за</div>
              <div class="row">300 руб.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="wrapper">
        <ul class="nav">
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="#">Возврат/обмен </a></li>
          <li><a href="#">Остановить/отменить подписку</a></li>
        </ul>
        <div class="social">
          <a href="#"><img src="images/icons/social.jpg"></a>
        </div>
        <div class="contacts">
          <a href="tel:89024845226" class="phone">8 (902) 484 52 26</a>
          <a href="mailto:grusomme.h@mail.ru" class="mail">grusomme.h@mail.ru</a>
        </div>
        <div class="copyright">© 2016 Соксус</div>
      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script src="scripts/vendor.js"></script>
    
    <script src="scripts/main.js"></script>
  </body>
</html>
