<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>www</title>

    <link rel="icon" href="favicon.ico" type="favicon.ico">
    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    

    <link rel="stylesheet" href="styles/main.css">
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <header>

      <div class="wrapper top">
        <a href="#" class="logo">
          <img src="images/icons/logo.png">
          <h1>Носки по подписке Владивосток</h1>
        </a>

        <div class="contacts">
          <a href="tel:89024845226" class="phone">
            <img src="images/icons/phone.png" alt="phone-icon">
            <span>8 (902) 484 52 26</span>
          </a>
          <a href="mailto:grusomme.h@mail.ru"  class="mail">
            <img src="images/icons/mail.png" alt="mail-icon">
            <span>grusomme.h@mail.ru</span>
          </a>
        </div>


        <a href="#" class="login">
          <img src="images/icons/login.png">
          <span>Личный кабинет</span>
        </a>
      </div>
      

      <nav class="wrapper">
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul>
          <li><a href="#">Подписаться</a></li>
          <li><a href="#">Каталог товаров</a></li>
          <li><a href="#">Как это работает </a></li>
          <li><a href="#">Доставка и оплата </a></li>
          <li><a href="#">Вопрос/Ответ</a></li>
          <li class="gift"><a href="#">
            <img src="images/icons/gift.png" alt="">
            <span>Подарочная подписка</span>
          </a></li>
        </ul>
      </nav>
    </header>

    <div class="faq wrapper">
      <h2 class="title_top">вопрос / ответ</h2>
      <article>
        <div class="title">О СЕРВИСЕ</div>
        <p>
          Это сервис, с помощью которого можно оформить подписку на носки для себя или в подарок другу на 6, 12 месяцев (возможна тестовая подписка на 1 месяц). В начале каждого месяца курьер доставляет конверт с тремя парами новых носков прямо в почтовый ящик или лично в руки (на выбор подписчиков). <br>
          До какой даты вы принимаете заказы на ближайший месяц? <br>
          Мы принимаем заказы за день до начала доставок (о дате доставок мы информируем в социальных сетях). В случае, если заказ совершен позднее, дата доставки согласовывается отдельно.
        </p>
      </article>
      <article>
        <div class="title">Когда можно внести изменения в параметры подписки?</div>
        <p>
          Изменять параметры подписки (цвет/размер носков, адрес и способ доставки) можно в любое время, пока конверты не сформированы, то есть до 30-го (или 31-го) числа. Как только мы начинаем формировать конверты, функция редактированиая будет недоступна. При возникновении вопросов можно связаться с нами по телефону +7 (499) 398-00-81 или написать на hello@sockster.ru. <br>
          Какой состав у носков и какого они качества? <br>
          В состав носков входит хлопок высшего качества с добавлением полиамида (для придания прочности) и эластана (для сохранения формы и комфортного облегания ноги) в следующих пропорциях: 
        </p>
      </article>
      <article>
        <div class="title">Как происходит оплата?</div>
        <p>
          Оплата производится с помощью сервиса приёма платежей ROBOKASSA Океанбанк (ЗАО). После того, как вы заполните все параметры своей подписки, вы попадёте на защищённый сервер компании Робокасса для совершения оплаты. Вы можете выбрать любой удобный способ оплаты (банковские карты, терминалы, WebMoney, Яндекс.Деньги и др.). После успешного проведения платежа, вы будете возвращены на страницу сайта, подтверждающую оформление заказа.
        </p>
      </article>
    </div>

    <footer>
      <div class="wrapper">
        <ul class="nav">
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="#">Возврат/обмен </a></li>
          <li><a href="#">Остановить/отменить подписку</a></li>
        </ul>
        <div class="social">
          <a href="#"><img src="images/icons/social.jpg"></a>
        </div>
        <div class="contacts">
          <a href="tel:89024845226" class="phone">8 (902) 484 52 26</a>
          <a href="mailto:grusomme.h@mail.ru" class="mail">grusomme.h@mail.ru</a>
        </div>
        <div class="copyright">© 2016 Соксус</div>
      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script src="scripts/vendor.js"></script>
    
    <script src="scripts/main.js"></script>
  </body>
</html>
