<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>www</title>

    <link rel="icon" href="favicon.ico" type="favicon.ico">
    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    

    <link rel="stylesheet" href="styles/main.css">
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <header>

      <div class="wrapper top">
        <a href="#" class="logo">
          <img src="images/icons/logo.png">
          <h1>Носки по подписке Владивосток</h1>
        </a>

        <div class="contacts">
          <a href="tel:89024845226" class="phone">
            <img src="images/icons/phone.png" alt="phone-icon">
            <span>8 (902) 484 52 26</span>
          </a>
          <a href="mailto:grusomme.h@mail.ru"  class="mail">
            <img src="images/icons/mail.png" alt="mail-icon">
            <span>grusomme.h@mail.ru</span>
          </a>
        </div>


        <a href="#" class="login">
          <img src="images/icons/login.png">
          <span>Личный кабинет</span>
        </a>
      </div>
      

      <nav class="wrapper">
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul>
          <li><a href="#">Подписаться</a></li>
          <li><a href="#">Каталог товаров</a></li>
          <li><a href="#">Как это работает </a></li>
          <li><a href="#">Доставка и оплата </a></li>
          <li><a href="#">Вопрос/Ответ</a></li>
          <li class="gift"><a href="#">
            <img src="images/icons/gift.png" alt="">
            <span>Подарочная подписка</span>
          </a></li>
        </ul>
      </nav>
    </header>

    <div class="gift wrapper">
      <h2 class="title_top">подарочная подписка</h2>
      <img class="top_img" src="images/bg/gift.jpg">
      <article>
        <div class="title">У нас вы можете оформить подписку в подарок!</div>
        <p>
          Все очень просто. Вы приобретаете подарочный сертификат, в котором будет указан код активации подписки - потом ваш друг сам установит ее параметры. А если вы хорошо знаете цветовые предпочтения, размер ноги вашего друга и удобный для него адрес доставки, то можете сами внести всю необходимую информацию и мы вместе сделаем сюрприз.
        </p>
        <p>
          Покупая сертификат, не забудьте написать сообщение с поздравлением (мы его напечатаем на сертификате).
        </p>
        <p>
          Выбирая 6 или 12 доставок в год, вы дарите не один подарок, а несколько, тем самым напоминая о вашей заботе каждый месяц.
        </p>
      </article>

      <div class="wrap">
        <a href="#" class="item">1 Месяц</a>
        <a href="#" class="item">3 Месяца</a>
        <a href="#" class="item">6 Месяцев</a>
        <a href="#" class="item">12 Месяцев</a>
      </div>

    </div>

    <footer>
      <div class="wrapper">
        <ul class="nav">
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="#">Возврат/обмен </a></li>
          <li><a href="#">Остановить/отменить подписку</a></li>
        </ul>
        <div class="social">
          <a href="#"><img src="images/icons/social.jpg"></a>
        </div>
        <div class="contacts">
          <a href="tel:89024845226" class="phone">8 (902) 484 52 26</a>
          <a href="mailto:grusomme.h@mail.ru" class="mail">grusomme.h@mail.ru</a>
        </div>
        <div class="copyright">© 2016 Соксус</div>
      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script src="scripts/vendor.js"></script>
    
    <script src="scripts/main.js"></script>
  </body>
</html>
