.text-justify {
    text-align: justify;
}
.text-justify:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.text-justify > a {
    display: inline-block;
}

img {
    max-width: 100%;
}

.bgcol {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 3px;
}
.catalog_slider .top .color_select .drop li span {
    font-weight: 300;
}

.catalog_slider .top .color_select .drop li {
    padding: 5px 5px 5px 6px;
}

.catalog_slider .top .color_select .drop li span.bgcol {
    margin-right: 10px;
}

.catalog_slider .top .color_select {
    padding-left: 7px;
    min-width: 168px;
    width: auto;
}
.catalog_slider .top label input[type='radio']:checked + span {
    /*border-width: 2px;*/
}
.catalog_slider .top .color_select .drop {
    display: block;
}

.button-disabled,
.button-disabled:hover {
    background: #cecece;
}

.select_wrap label .wrap div {
    text-transform: uppercase;
}
.subs_block .contact_form_order .form-group {
    display: inline-block;
}
.subs_block .head li {
    vertical-align: top;
}

.personal_block .button {
    font-size: 14px;
    padding: 7px 20px 4px;
}
.selected .wrap {
    margin-left: 75px;
}

.catalog_slider .top .color_select span {
    display: inline-block;
    margin-top: -5px;
}

.kinds .button {
    margin-left: 10px;
}
.kinds .color {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.made_in img {
    margin-right: 32px;
}
.catalog_slider .top label span {
    padding-top: 7px;
}

.male, .female, .color, .type, .size {
    transition: transform .4s;
    display: inline-block;
}

.panel.panel-default {
    margin: 20px auto 60px;
}
.form-control {

    width: 100%;
    padding: 10px;
    border: 1px solid #d1d1d1;
    margin-bottom: 7px;
    -webkit-transition: border-color 0.3s ease-out;
    transition: border-color 0.3s ease-out;

}
.btn {
    display: inline-block;
    background-color: #007eff;
    border-radius: 3px;
    box-shadow: 0 2px 0 #004fa0;
    color: #fff;
    margin-bottom: 2px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    padding: 5px 10px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
body {
    position: relative;
    padding-bottom: 200px;
    min-height:100vh;
}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.kinds .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    padding-right: 5px;
    text-align: left;
    padding-left: 25px;
    overflow: hidden;
}

.owl-carousel .owl-controls {
    text-align: center;
}
.owl-carousel .owl-controls .owl-dot {
    border: 1px solid #007eff;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 30px 3px 0;
    border-radius: 2px;

}
.owl-carousel .owl-controls .owl-dot.active {
    background: #007eff;
}

.catalog_slider .top label input[type='radio']:checked + span {
    box-shadow: inset 0 0 1px 1px;
}

.catalog_slider .top label span:after {
    display: none;
}